---
http_interactions:
- request:
    method: get
    uri: https://api.mailgun.net/v3/domains?limit=5&skip=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS1lYmFhNzkyZGM1YjNkNzM5MTczMDNiNDQwOGMwNmU2MQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items": [
            {
              "created_at": "Fri, 16 Jun 2017 17:00:57 GMT",
              "id": "59440ec9fa6095ebf5381d63",
              "name": "mg.ambafrance.co",
              "require_tls": false,
              "skip_verification": false,
              "smtp_login": "postmaster@mg.ambafrance.co",
              "smtp_password": "dcd9d25e789aa7fa4f7d87dad0eae8c8",
              "spam_action": "disabled",
              "state": "active",
              "type": "custom",
              "web_prefix": "email",
              "web_scheme": "http",
              "wildcard": false
            },
            {
              "created_at": "Wed, 30 Nov 2016 22:06:26 GMT",
              "id": "583f4d62354c785e6e6c9c1f",
              "name": "mailgun.ambafrance.ylecuyer.xyz",
              "require_tls": false,
              "skip_verification": false,
              "smtp_login": "postmaster@mailgun.ambafrance.ylecuyer.xyz",
              "smtp_password": "ec204edf0946ded4c082a7802cd57fd8",
              "spam_action": "disabled",
              "state": "active",
              "type": "custom",
              "web_prefix": "email",
              "web_scheme": "http",
              "wildcard": false
            },
            {
              "created_at": "Tue, 22 Nov 2016 14:41:24 GMT",
              "id": "58345914045ca40b8e8abd9b",
              "name": "sandboxd12ec1188b4f479193be5b5052cbc625.mailgun.org",
              "require_tls": false,
              "skip_verification": false,
              "smtp_login": "postmaster@sandboxd12ec1188b4f479193be5b5052cbc625.mailgun.org",
              "smtp_password": "bac7cf283b16879f335cb0c6ab190452",
              "spam_action": "disabled",
              "state": "active",
              "type": "sandbox",
              "web_prefix": "email",
              "web_scheme": "http",
              "wildcard": false
            }
          ],
          "total_count": 3
        }
  recorded_at: Sun, 10 Sep 2017 16:55:29 GMT
- request:
    method: get
    uri: https://api.mailgun.net/v3/mg.ambafrance.co/stats/total?duration=30d&event=accepted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS1lYmFhNzkyZGM1YjNkNzM5MTczMDNiNDQwOGMwNmU2MQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"end":"Sun, 10 Sep 2017 00:00:00 UTC","resolution":"day","start":"Sat,
        12 Aug 2017 00:00:00 UTC","stats":[{"time":"Sat, 12 Aug 2017 00:00:00 UTC","accepted":{"incoming":0,"outgoing":0,"total":0}},{"time":"Sun,
        13 Aug 2017 00:00:00 UTC","accepted":{"incoming":0,"outgoing":0,"total":0}},{"time":"Mon,
        14 Aug 2017 00:00:00 UTC","accepted":{"incoming":0,"outgoing":0,"total":0}},{"time":"Tue,
        15 Aug 2017 00:00:00 UTC","accepted":{"incoming":0,"outgoing":0,"total":0}},{"time":"Wed,
        16 Aug 2017 00:00:00 UTC","accepted":{"incoming":0,"outgoing":0,"total":0}},{"time":"Thu,
        17 Aug 2017 00:00:00 UTC","accepted":{"incoming":0,"outgoing":0,"total":0}},{"time[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/mailgun.ambafrance.ylecuyer.xyz/stats/total?duration=30d&event=accepted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS1lYmFhNzkyZGM1YjNkNzM5MTczMDNiNDQwOGMwNmU2MQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"end":"Sun, 10 Sep 2017 00:00[...]
- request:
    method: get
    uri: https://api.mailgun.net/v3/sandboxd12ec1188b4f479193be5b5052cbc625.mailgun.org/stats/total?duration=30d&event=accepted
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpOmtleS1lYmFhNzkyZGM1YjNkNzM5MTczMDNiNDQwOGMwNmU2MQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"end":"Su[...]
