<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Is admin?:</strong>
  <%= @user.has_role? :admin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
