<div class="row">
	<div class="col-2">

		<div class="card">
		  <%= image_tag 'logs.png', class: "card-img-top", style: "margin: 10px auto 10px auto; max-width: 100%"  %>
		  <div class="card-block">
		  </div>
		</div>

	</div>
	<div class="col">
		<h1>Logs</h1>

		<% @attendee.logs.each do |log| %>
			<div class="json mt-3" id="<%= log.internal_id %>"></div>

			<script type="text/javascript">

			formatter = new JSONFormatter(<%= raw log.json.to_json %>);
			div = document.getElementById('<%= log.internal_id %>');
			div.innerHTML = '';
			div.appendChild(formatter.render());

			</script>
		<% end %>

	</div>
</div>
