MAILGUN_API_KEY: "YOUR_MAILGUN_API_KEY"
MAILGUN_DOMAIN: "YOUR_MAILGUN_DOMAIN"
MAILGUN_SENDER_NAME: "YOUR_MAILGUN_SENDER_NAME"
MAILGUN_SENDER_EMAIL: "YOUR_MAILGUN_SENDER_EMAIL"
MAILTESTER_LOGIN: "YOUR_MAILTESTER_LOGIN"
REDIS_URL: "redis://YOUR_REDIS_HOS:YOUR_REDIS_PORT"
