<ul class="nav nav-pills nav-fill nav-justified" style="border: 1px solid #ddd; border-radius: 4px; padding: 4px;">
  <li class="nav-item">
    <a class="nav-link active" href="#">
      <h4 class="list-group-item-heading">Step 1</h4>
      <p class="list-group-item-text" style="margin-bottom: 0px">First step description</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <h4 class="list-group-item-heading">Step 2</h4>
      <p class="list-group-item-text" style="margin-bottom: 0px">First step description</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">
      <h4 class="list-group-item-heading">Step 2</h4>
      <p class="list-group-item-text" style="margin-bottom: 0px">First step description</p>
    </a>
  </li>
</ul>
